@page "/"

<h1>Hello, You!</h1>


<p>
    Welcome to my Frontend WASM Application
</p>

<p>
    The Application makes use of <a href="https://lincolnsovtech.herokuapp.com">lincolnsovtech.herokuapp.com</a> for all it's backend work
</p>

